apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
spec:
  ingressClassName: nginx
  rules:
  - host: 2401009.imcc.com
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: server
            port:
              number: 5000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: client
            port:
              number: 80
