apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: jenkins
  labels:
    app: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      imagePullSecrets:
      - name: nexus-pull-secret
      containers:
      - name: server
        image: 127.0.0.1:30085/2401009/server:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 30
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "1Gi"
        env:
        - name: PORT
          value: "5000"
        - name: BASE_URL
          value: "http://server.2401009.svc.cluster.local:5000"
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: server-secret
              key: MONGO_URI
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: server-secret
              key: JWT_SECRET_KEY
        - name: JWT_EXPIRE
          value: "7d"
        - name: COOKIE_EXPIRE
          value: "7"
        - name: CLOUDINARY_CLOUD_NAME
          valueFrom:
            secretKeyRef:
              name: server-secret
              key: CLOUDINARY_CLOUD_NAME
        - name: CLOUDINARY_API_KEY
          valueFrom:
            secretKeyRef:
              name: server-secret
              key: CLOUDINARY_API_KEY
        - name: CLOUDINARY_API_SECRET
          valueFrom:
            secretKeyRef:
              name: server-secret
              key: CLOUDINARY_API_SECRET
        - name: FRONTEND_URL
          value: "http://2401009.imcc.com"
        - name: SECURE_COOKIE
          value: "false"
